In [1]:
import pandas as pd
import os

In [2]:
mortality_file= "Number of deaths children up to 5 years.csv"

mortality_df = pd.read_csv(mortality_file)
mortality_df = mortality_df[mortality_df["Dim1"] == "0-4 years"]
mortality_df = mortality_df[["SpatialDimValueCode", "Period", "Dim1", "Dim2", "FactValueNumeric"]]
mortality_df = mortality_df.rename(columns ={"SpatialDimValueCode": "CountryCode",
                                             "Period": "Year",
                                             "Dim1": "AgeGroup",
                                             "Dim2": "CauseOfDeath",
                                             "FactValueNumeric" : "Value"
                                            })

mortality_df = mortality_df.astype({"Year":"int64"})

In [3]:
print(mortality_df)
print(mortality_df.dtypes)

       CountryCode  Year   AgeGroup  \
11             ALB  2017  0-4 years
12             ALB  2017  0-4 years
17             DZA  2017  0-4 years
42             AND  2017  0-4 years
43             AND  2017  0-4 years
...            ...   ...        ...
147752         PRK  2000  0-4 years
147753         SLE  2000  0-4 years
147754         ITA  2000  0-4 years
147757         MLI  2000  0-4 years
147761         GIN  2000  0-4 years

                                             CauseOfDeath   Value
11                                                Measles    0.00
12                                                Malaria    0.00
17                                                Malaria    0.00
42                        Birth asphyxia and birth trauma    0.00
43      Sepsis and other infectious conditions of the ...    0.00
...                                                   ...     ...
147752                                            Tetanus   99.95
147753                     Other noncommunicable diseases  990.00
147754                               Congenital anomalies  991.00
147757                                           HIV/AIDS  993.00
147761                                           HIV/AIDS  998.00

[49247 rows x 5 columns]
CountryCode      object
Year              int64
AgeGroup         object
CauseOfDeath     object
Value           float64
dtype: object

In [4]:
country_file = "WDICountry.csv"
country_df = pd.read_csv(country_file)
country_df = country_df.rename(columns = {"Country Code": "CountryCode",
                                          "Short Name": "CountryName",
                                          "Income Group": "IncomeGroup"
                                         })

In [5]:
print(country_df)

    CountryCode   CountryName    Table Name                     Long Name  \
0           ABW         Aruba         Aruba                         Aruba
1           AFG   Afghanistan   Afghanistan  Islamic State of Afghanistan
2           AGO        Angola        Angola   People's Republic of Angola
3           ALB       Albania       Albania           Republic of Albania
4           AND       Andorra       Andorra       Principality of Andorra
..          ...           ...           ...                           ...
258         XKX        Kosovo        Kosovo            Republic of Kosovo
259         YEM         Yemen   Yemen, Rep.             Republic of Yemen
260         ZAF  South Africa  South Africa      Republic of South Africa
261         ZMB        Zambia        Zambia            Republic of Zambia
262         ZWE      Zimbabwe      Zimbabwe          Republic of Zimbabwe

    2-alpha code       Currency Unit  \
0             AW       Aruban florin
1             AF      Afghan afghani
2             AO      Angolan kwanza
3             AL        Albanian lek
4             AD                Euro
..           ...                 ...
258           XK                Euro
259           YE         Yemeni rial
260           ZA  South African rand
261           ZM  New Zambian kwacha
262           ZW         U.S. dollar

                                         Special Notes  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
258                                                NaN
259                                                NaN
260  Fiscal year end: March 31; reporting period fo...
261  National accounts data were rebased to reflect...
262                                                NaN

                         Region          IncomeGroup WB-2 code  ...  \
0     Latin America & Caribbean          High income        AW  ...
1                    South Asia           Low income        AF  ...
2            Sub-Saharan Africa  Lower middle income        AO  ...
3         Europe & Central Asia  Upper middle income        AL  ...
4         Europe & Central Asia          High income        AD  ...
..                          ...                  ...       ...  ...
258       Europe & Central Asia  Upper middle income        XK  ...
259  Middle East & North Africa           Low income        RY  ...
260          Sub-Saharan Africa  Upper middle income        ZA  ...
261          Sub-Saharan Africa  Lower middle income        ZM  ...
262          Sub-Saharan Africa  Lower middle income        ZW  ...

       Government Accounting concept  \
0                                NaN
1    Consolidated central government
2       Budgetary central government
3    Consolidated central government
4                                NaN
..                               ...
258                              NaN
259                              NaN
260  Consolidated central government
261     Budgetary central government
262     Budgetary central government

                       IMF data dissemination standard  \
0    Enhanced General Data Dissemination System (e-...
1    Enhanced General Data Dissemination System (e-...
2    Enhanced General Data Dissemination System (e-...
3    Enhanced General Data Dissemination System (e-...
4                                                  NaN
..                                                 ...
258  Enhanced General Data Dissemination System (e-...
259  Enhanced General Data Dissemination System (e-...
260         Special Data Dissemination Standard (SDDS)
261  Enhanced General Data Dissemination System (e-...
262  Enhanced General Data Dissemination System (e-...

                              Latest population census  \
0                                      2020 (expected)
1                                                 1979
2                                                 2014
3                                      2020 (expected)
4    2011. Population figures compiled from adminis...
..                                                 ...
258                                               2011
259                                               2004
260                                               2011
261                                    2020 (expected)
262                                               2012

                        Latest household survey  \
0                                           NaN
1           Demographic and Health Survey, 2015
2        Demographic and Health Survey, 2015/16
3        Demographic and Health Survey, 2017/18
4                                           NaN
..                                          ...
258  Multiple Indicator Cluster Survey, 2019/20
259         Demographic and Health Survey, 2013
260         Demographic and Health Survey, 2016
261         Demographic and Health Survey, 2018
262     Multiple Indicator Cluster Survey, 2019

     Source of most recent Income and expenditure data  \
0                                                  NaN
1           Integrated household survey (IHS), 2016/17
2           Integrated household survey (IHS), 2008/09
3    Living Standards Measurement Study Survey (LSM...
4                                                  NaN
..                                                 ...
258     Expenditure survey/budget survey (ES/BS), 2015
259     Expenditure survey/budget survey (ES/BS), 2014
260  Expenditure survey/budget survey (ES/BS), 2014/15
261            Integrated household survey (IHS), 2015
262         Integrated household survey (IHS), 2011/12

    Vital registration complete Latest agricultural census  \
0                           Yes                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           Yes                       2012
4                           Yes                        NaN
..                          ...                        ...
258                         NaN                       2014
259                         NaN                        NaN
260                         NaN                       2007
261                         NaN                        NaN
262                         NaN                        NaN

     Latest industrial data Latest trade data Unnamed: 30
0                       NaN            2018.0         NaN
1                       NaN            2018.0         NaN
2                       NaN            2018.0         NaN
3                    2013.0            2018.0         NaN
4                       NaN            2018.0         NaN
..                      ...               ...         ...
258                     NaN               NaN         NaN
259                  2012.0            2015.0         NaN
260                  2010.0            2018.0         NaN
261                  1994.0            2018.0         NaN
262                     NaN            2018.0         NaN

[263 rows x 31 columns]

In [6]:
wdidata_file = "WDIData.csv"
gdp_df = pd.read_csv(wdidata_file)
gdp_df = gdp_df[gdp_df["Indicator Name"] == "GDP per capita (constant 2010 US$)"]
gdp_df = gdp_df[["Country Name", "Country Code", "2000", "2001", "2002", "2003", "2004", "2005",
                "2006", "2007", "2008","2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]]
gdp_df = gdp_df.rename(columns={"Country Name": "CountryName",
                                "Country Code": "CountryCode"})

In [23]:
print(gdp_df)

                           CountryName CountryCode         2000         2001  \
470                         Arab World         ARB  4836.095304  4808.046390
1913            Caribbean small states         CSS  7547.551105  7646.174786
3356    Central Europe and the Baltics         CEB  8511.871615  8833.701751
4799        Early-demographic dividend         EAR  2291.315697  2275.032809
6242               East Asia & Pacific         EAS  5357.073987  5452.563216
...                                ...         ...          ...          ...
374207           Virgin Islands (U.S.)         VIR          NaN          NaN
375650              West Bank and Gaza         PSE  2128.073629  1881.246069
377093                     Yemen, Rep.         YEM  1168.692659  1178.663872
378536                          Zambia         ZMB   948.736227   973.363972
379979                        Zimbabwe         ZWE  1449.042767  1464.672049

                2002          2003          2004          2005          2006  \
470      4733.166860   4878.151546   5218.462187   5393.940292   5611.254106
1913     7864.686405   8249.490701   8514.899028   8761.871798   9295.607694
3356     9207.095853   9611.670055  10192.530359  10730.474843  11463.414858
4799     2271.830151   2342.158758   2459.184181   2567.140561   2681.468968
6242     5603.183973   5796.835266   6051.448627   6311.218261   6612.640151
...              ...           ...           ...           ...           ...
374207  36687.392611  36566.166389  37654.621433  39027.014404  40473.409894
375650   1604.759075   1783.519390   2119.698186   2299.510242   2219.158401
377093   1190.154916   1199.548868   1211.772566   1243.431089   1246.872111
378536    991.310021   1033.310802   1077.836387   1126.031936   1183.363859
379979   1331.013034   1102.230755   1034.962988    971.266723    931.568540

                2007          2008          2009          2010          2011  \
470      5725.914714   5913.542272   5797.327137   5926.712963   6008.896928
1913     9540.149483   9598.644506   9194.126839   9253.213333   9292.388090
3356    12240.735304  12764.457468  12351.874152  12608.633326  13037.347978
4799     2794.123972   2846.115298   2820.389360   2948.872040   3050.100018
6242     6992.198909   7188.411758   7238.389786   7698.067616   7999.370463
...              ...           ...           ...           ...           ...
374207  42119.133804  42492.238021  39667.557518  40043.559715  36799.378667
375650   2245.118693   2346.456872   2481.016243   2557.075624   2732.691355
377093   1252.483143   1262.018218   1274.465883   1334.784845   1133.126591
378536   1248.418424   1309.281649   1390.331446   1489.459306   1525.562494
379979    890.180455    725.575974    803.222029    948.331854   1066.426265

                2012          2013          2014          2015          2016  \
470      6266.268815   6331.425586   6352.805572   6424.358207   6518.063258
1913     9346.887217   9354.660568   9334.815752   9362.770399   9178.296473
3356    13154.660642  13347.021095  13775.144992  14356.514841  14838.059646
4799     3133.806441   3222.499438   3304.978013   3410.538858   3526.848024
6242     8318.275076   8656.049388   8957.345576   9270.389585   9584.162777
...              ...           ...           ...           ...           ...
374207  31301.869687  29516.821211  29304.267357  29407.509076  29727.562733
375650   2828.618863   2891.268542   2819.824535   2858.529027   3042.808716
377093   1128.686273   1151.420221   1119.147294    785.338458    694.152434
378536   1591.319557   1620.120519   1644.106790   1641.013358   1652.602940
379979   1223.203432   1225.558112   1232.864865   1234.103352   1224.309922

                2017
470      6445.933776
1913     9168.247688
3356    15602.826044
4799     3644.338405
6242     9972.376893
...              ...
374207  29287.235611
375650   3025.232759
377093    643.164002
378536   1660.766216
379979   1263.321322

[264 rows x 20 columns]

In [7]:
gdp_df = pd.melt(gdp_df, id_vars=["CountryName", "CountryCode"], 
                 value_vars= ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008",
                              "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"])

gdp_df = gdp_df.rename(columns={"variable": "Year",
                                "value": "GDPPerCapita"
                               })

gdp_df = gdp_df.astype({"Year":"int64"})

In [8]:
print(gdp_df)
print(gdp_df.dtypes)

                         CountryName CountryCode  Year  GDPPerCapita
0                         Arab World         ARB  2000   4836.095304
1             Caribbean small states         CSS  2000   7547.551105
2     Central Europe and the Baltics         CEB  2000   8511.871615
3         Early-demographic dividend         EAR  2000   2291.315697
4                East Asia & Pacific         EAS  2000   5357.073987
...                              ...         ...   ...           ...
4747           Virgin Islands (U.S.)         VIR  2017  29287.235611
4748              West Bank and Gaza         PSE  2017   3025.232759
4749                     Yemen, Rep.         YEM  2017    643.164002
4750                          Zambia         ZMB  2017   1660.766216
4751                        Zimbabwe         ZWE  2017   1263.321322

[4752 rows x 4 columns]
CountryName      object
CountryCode      object
Year              int64
GDPPerCapita    float64
dtype: object

In [9]:
wdidata_file = "WDIData.csv"
population_df = pd.read_csv(wdidata_file)
population_df = population_df[population_df["Indicator Name"] == "Population, total"]
population_df = population_df[["Country Name", "Country Code", "2000", "2001", "2002", "2003", "2004", "2005",
                "2006", "2007", "2008","2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]]
population_df = population_df.rename(columns={"Country Name": "CountryName",
                                              "Country Code": "CountryCode"
                                             })

population_df = pd.melt(population_df, id_vars=["CountryName", "CountryCode"], 
                 value_vars= ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008",
                              "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"])

population_df = population_df.rename(columns={"variable": "Year",
                                "value": "Population"
                               })
population_df = population_df.astype({"Year":"int64"})

In [10]:
print(population_df)
print(population_df.dtypes)

                         CountryName CountryCode  Year    Population
0                         Arab World         ARB  2000  2.823442e+08
1             Caribbean small states         CSS  2000  6.513489e+06
2     Central Europe and the Baltics         CEB  2000  1.084478e+08
3         Early-demographic dividend         EAR  2000  2.472853e+09
4                East Asia & Pacific         EAS  2000  2.047640e+09
...                              ...         ...   ...           ...
4747           Virgin Islands (U.S.)         VIR  2017  1.072810e+05
4748              West Bank and Gaza         PSE  2017  4.454805e+06
4749                     Yemen, Rep.         YEM  2017  2.783482e+07
4750                          Zambia         ZMB  2017  1.685369e+07
4751                        Zimbabwe         ZWE  2017  1.423674e+07

[4752 rows x 4 columns]
CountryName     object
CountryCode     object
Year             int64
Population     float64
dtype: object

In [11]:
mergedmortality_df = mortality_df.merge(country_df[["CountryCode", "CountryName", "Region", "IncomeGroup"]], how="left", left_on='CountryCode', right_on='CountryCode')
print(mergedmortality_df)
print(mergedmortality_df.dtypes)

      CountryCode  Year   AgeGroup  \
0             ALB  2017  0-4 years
1             ALB  2017  0-4 years
2             DZA  2017  0-4 years
3             AND  2017  0-4 years
4             AND  2017  0-4 years
...           ...   ...        ...
49242         PRK  2000  0-4 years
49243         SLE  2000  0-4 years
49244         ITA  2000  0-4 years
49245         MLI  2000  0-4 years
49246         GIN  2000  0-4 years

                                            CauseOfDeath   Value  \
0                                                Measles    0.00
1                                                Malaria    0.00
2                                                Malaria    0.00
3                        Birth asphyxia and birth trauma    0.00
4      Sepsis and other infectious conditions of the ...    0.00
...                                                  ...     ...
49242                                            Tetanus   99.95
49243                     Other noncommunicable diseases  990.00
49244                               Congenital anomalies  991.00
49245                                           HIV/AIDS  993.00
49246                                           HIV/AIDS  998.00

                    CountryName                      Region  \
0                       Albania       Europe & Central Asia
1                       Albania       Europe & Central Asia
2                       Algeria  Middle East & North Africa
3                       Andorra       Europe & Central Asia
4                       Andorra       Europe & Central Asia
...                         ...                         ...
49242  Dem. People's Rep. Korea         East Asia & Pacific
49243              Sierra Leone          Sub-Saharan Africa
49244                     Italy       Europe & Central Asia
49245                      Mali          Sub-Saharan Africa
49246                    Guinea          Sub-Saharan Africa

               IncomeGroup
0      Upper middle income
1      Upper middle income
2      Lower middle income
3              High income
4              High income
...                    ...
49242           Low income
49243           Low income
49244          High income
49245           Low income
49246           Low income

[49247 rows x 8 columns]
CountryCode      object
Year              int64
AgeGroup         object
CauseOfDeath     object
Value           float64
CountryName      object
Region           object
IncomeGroup      object
dtype: object

In [12]:
mergedmortality_df = mergedmortality_df.merge(gdp_df[["CountryCode", "Year", "GDPPerCapita"]], how="left", 
                                              left_on=['CountryCode', 'Year'],  right_on=['CountryCode','Year'])
print(mergedmortality_df)

      CountryCode  Year   AgeGroup  \
0             ALB  2017  0-4 years
1             ALB  2017  0-4 years
2             DZA  2017  0-4 years
3             AND  2017  0-4 years
4             AND  2017  0-4 years
...           ...   ...        ...
49242         PRK  2000  0-4 years
49243         SLE  2000  0-4 years
49244         ITA  2000  0-4 years
49245         MLI  2000  0-4 years
49246         GIN  2000  0-4 years

                                            CauseOfDeath   Value  \
0                                                Measles    0.00
1                                                Malaria    0.00
2                                                Malaria    0.00
3                        Birth asphyxia and birth trauma    0.00
4      Sepsis and other infectious conditions of the ...    0.00
...                                                  ...     ...
49242                                            Tetanus   99.95
49243                     Other noncommunicable diseases  990.00
49244                               Congenital anomalies  991.00
49245                                           HIV/AIDS  993.00
49246                                           HIV/AIDS  998.00

                    CountryName                      Region  \
0                       Albania       Europe & Central Asia
1                       Albania       Europe & Central Asia
2                       Algeria  Middle East & North Africa
3                       Andorra       Europe & Central Asia
4                       Andorra       Europe & Central Asia
...                         ...                         ...
49242  Dem. People's Rep. Korea         East Asia & Pacific
49243              Sierra Leone          Sub-Saharan Africa
49244                     Italy       Europe & Central Asia
49245                      Mali          Sub-Saharan Africa
49246                    Guinea          Sub-Saharan Africa

               IncomeGroup  GDPPerCapita
0      Upper middle income   4864.310616
1      Upper middle income   4864.310616
2      Lower middle income   4792.387242
3              High income  44430.744009
4              High income  44430.744009
...                    ...           ...
49242           Low income           NaN
49243           Low income    302.264266
49244          High income  36329.248937
49245           Low income    555.044549
49246           Low income    612.815814

[49247 rows x 9 columns]

In [13]:
mergedmortality_df = mergedmortality_df.merge(population_df[["CountryCode", "Year", "Population"]], how="left", 
                                              left_on=['CountryCode', 'Year'],  right_on=['CountryCode','Year'])
print(mergedmortality_df)

      CountryCode  Year   AgeGroup  \
0             ALB  2017  0-4 years
1             ALB  2017  0-4 years
2             DZA  2017  0-4 years
3             AND  2017  0-4 years
4             AND  2017  0-4 years
...           ...   ...        ...
49242         PRK  2000  0-4 years
49243         SLE  2000  0-4 years
49244         ITA  2000  0-4 years
49245         MLI  2000  0-4 years
49246         GIN  2000  0-4 years

                                            CauseOfDeath   Value  \
0                                                Measles    0.00
1                                                Malaria    0.00
2                                                Malaria    0.00
3                        Birth asphyxia and birth trauma    0.00
4      Sepsis and other infectious conditions of the ...    0.00
...                                                  ...     ...
49242                                            Tetanus   99.95
49243                     Other noncommunicable diseases  990.00
49244                               Congenital anomalies  991.00
49245                                           HIV/AIDS  993.00
49246                                           HIV/AIDS  998.00

                    CountryName                      Region  \
0                       Albania       Europe & Central Asia
1                       Albania       Europe & Central Asia
2                       Algeria  Middle East & North Africa
3                       Andorra       Europe & Central Asia
4                       Andorra       Europe & Central Asia
...                         ...                         ...
49242  Dem. People's Rep. Korea         East Asia & Pacific
49243              Sierra Leone          Sub-Saharan Africa
49244                     Italy       Europe & Central Asia
49245                      Mali          Sub-Saharan Africa
49246                    Guinea          Sub-Saharan Africa

               IncomeGroup  GDPPerCapita  Population
0      Upper middle income   4864.310616   2873457.0
1      Upper middle income   4864.310616   2873457.0
2      Lower middle income   4792.387242  41389198.0
3              High income  44430.744009     77001.0
4              High income  44430.744009     77001.0
...                    ...           ...         ...
49242           Low income           NaN  22929075.0
49243           Low income    302.264266   4584571.0
49244          High income  36329.248937  56942108.0
49245           Low income    555.044549  10946445.0
49246           Low income    612.815814   8240730.0

[49247 rows x 10 columns]

In [14]:
mergedmortality_df = mergedmortality_df[ mergedmortality_df["Region"].notna()]

In [15]:
mergedmortality_df.to_csv("childmortality.csv", index=False)

In [16]:
mortalitycountry_df = mergedmortality_df.groupby(["CountryCode", "Year"], as_index=False).agg({"Value": "sum",
                                                                                  "GDPPerCapita": "min",
                                                                                  "Population" : "min"
                                                                                 })

mortalitycountry_df = mortalitycountry_df.merge(country_df[["CountryCode", "CountryName", "Region", "IncomeGroup"]], 
                                               how="left", left_on='CountryCode', right_on='CountryCode')

print(mortalitycountry_df)
print(mortalitycountry_df.dtypes)

     CountryCode  Year      Value  GDPPerCapita  Population  CountryName  \
0            AFG  2000  126578.92           NaN  20779953.0  Afghanistan
1            AFG  2001  131386.92           NaN  21606988.0  Afghanistan
2            AFG  2002  124658.00    330.303553  22600770.0  Afghanistan
3            AFG  2003  117839.10    343.080890  23680871.0  Afghanistan
4            AFG  2004  117196.50    333.216684  24726684.0  Afghanistan
...          ...   ...        ...           ...         ...          ...
3451         ZWE  2013   34633.40   1225.558112  13350356.0     Zimbabwe
3452         ZWE  2014   32113.40   1232.864865  13586681.0     Zimbabwe
3453         ZWE  2015   30271.40   1234.103352  13814629.0     Zimbabwe
3454         ZWE  2016   28214.85   1224.309922  14030390.0     Zimbabwe
3455         ZWE  2017   26619.18   1263.321322  14236745.0     Zimbabwe

                  Region          IncomeGroup
0             South Asia           Low income
1             South Asia           Low income
2             South Asia           Low income
3             South Asia           Low income
4             South Asia           Low income
...                  ...                  ...
3451  Sub-Saharan Africa  Lower middle income
3452  Sub-Saharan Africa  Lower middle income
3453  Sub-Saharan Africa  Lower middle income
3454  Sub-Saharan Africa  Lower middle income
3455  Sub-Saharan Africa  Lower middle income

[3456 rows x 8 columns]
CountryCode      object
Year              int64
Value           float64
GDPPerCapita    float64
Population      float64
CountryName      object
Region           object
IncomeGroup      object
dtype: object

In [17]:
mortalitycountry_df.to_csv("childmortality_percountry.csv", index=False)

In [18]:
causeofdeath_df = mergedmortality_df.groupby(by=["CauseOfDeath", "Year"], as_index=False).agg({"Value": "sum"})
print(causeofdeath_df)
causeofdeath_df.to_csv("causeofdeath_total.csv", index=False)

                           CauseOfDeath  Year        Value
0    Acute lower respiratory infections  2000  1755351.559
1    Acute lower respiratory infections  2001  1683709.124
2    Acute lower respiratory infections  2002  1613226.678
3    Acute lower respiratory infections  2003  1545503.014
4    Acute lower respiratory infections  2004  1484425.460
..                                  ...   ...          ...
261                             Tetanus  2013    42510.964
262                             Tetanus  2014    38227.073
263                             Tetanus  2015    34318.537
264                             Tetanus  2016    31809.590
265                             Tetanus  2017    31258.423

[266 rows x 3 columns]

In [25]:
toptencauseofdeath_df = mergedmortality_df.sort_values(["CauseOfDeath", "Year", "Value"], ascending=[True, True, False]);
print(toptencauseofdeath_df)

      CountryCode  Year   AgeGroup                        CauseOfDeath  \
48582         IND  2000  0-4 years  Acute lower respiratory infections
47568         NGA  2000  0-4 years  Acute lower respiratory infections
47448         CHN  2000  0-4 years  Acute lower respiratory infections
49209         PAK  2000  0-4 years  Acute lower respiratory infections
49106         ETH  2000  0-4 years  Acute lower respiratory infections
...           ...   ...        ...                                 ...
447           UKR  2017  0-4 years                             Tetanus
449           ARE  2017  0-4 years                             Tetanus
453           GBR  2017  0-4 years                             Tetanus
456           USA  2017  0-4 years                             Tetanus
459           URY  2017  0-4 years                             Tetanus

          Value           CountryName                      Region  \
48582  487137.0                 India                  South Asia
47568  150595.0               Nigeria          Sub-Saharan Africa
47448  122096.0                 China         East Asia & Pacific
49209   95237.0              Pakistan                  South Asia
49106   84077.0              Ethiopia          Sub-Saharan Africa
...         ...                   ...                         ...
447         0.0               Ukraine       Europe & Central Asia
449         0.0  United Arab Emirates  Middle East & North Africa
453         0.0        United Kingdom       Europe & Central Asia
456         0.0         United States               North America
459         0.0               Uruguay   Latin America & Caribbean

               IncomeGroup  GDPPerCapita    Population
48582  Lower middle income    826.592493  1.056576e+09
47568  Lower middle income   1376.418466  1.222838e+08
47448  Upper middle income   1767.859627  1.262645e+09
49209  Lower middle income    820.225641  1.423436e+08
49106           Low income    197.432305  6.622480e+07
...                    ...           ...           ...
447    Lower middle income   2988.504215  4.483114e+07
449            High income  41460.283446  9.487203e+06
453            High income  43010.706346  6.605886e+07
456            High income  53552.485014  3.249855e+08
459            High income  14437.384691  3.436646e+06

[48737 rows x 10 columns]

In [26]:
counts = toptencauseofdeath_df.groupby(by=["CauseOfDeath", "Year"]).cumcount()
toptencauseofdeath_df["Rank"] =  counts
toptencauseofdeath_df = toptencauseofdeath_df[toptencauseofdeath_df["Rank"] < 10];
toptencauseofdeath_df.to_csv("toptencountries_causeofdeath.csv", index=False)